@import-normalize;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --family: "Nunito Sans", sans-serif;
}

[data-theme="dark"] {
  --body-text: hsl(0, 0%, 100%);
  --body-bg: hsl(207, 26%, 17%);
  --body-ui: hsl(209, 23%, 22%);
  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
}

[data-theme="light"] {
  --body-text: hsl(200, 15%, 8%);
  --body-bg: hsl(0, 0%, 98%);
  --body-ui: hsl(0, 0%, 100%);
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--body-text);
  font-size: 14px;
  background-color: var(--body-bg);
}

.header-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--body-ui);
  box-shadow: var(--shadow);
  padding: 1rem 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  cursor: pointer;
}

.mode-switcher {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--body-bg);
  margin: 2rem 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.input-container {
  background-color: var(--body-ui);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
}

.search {
  margin-left: 2rem;
  border: none;
  outline: none;
  background-color: var(--body-ui);
  color: var(--body-text);
}
